<!DOCTYPE html>
<html>
<head>
    <title>Тестовое задание - Файловый манагер</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/extjs/css/ext-all.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/extjs/css/example.css"/>
    <link rel="shortcut icon" type="image/png" href="Icon.png">
    <script type="text/javascript" src="/extjs/js/bootstrap.js"></script>
    <script type="text/javascript" src="/extjs/js/examples.js"></script>
    <script type="text/javascript" src="filemanager/app.js"></script>
    <script type="text/javascript" src="filemanager/debug.js"></script>
</head>
<body>
</body>
</html>
